html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
table{
    border-collapse: collapse;
    height: 350px;
    width: 350px;
    border: 2px solid black;
    text-align: center;
}